/* Landscape */

@media only screen and (orientation: landscape) {

  /* Universal */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  /* Padlet */
  :root {
    --padlet-1: #f5ecd5;
    --padlet-2: #fffaec;
    --padlet-3: #578e7e;
    --padlet-4: #3d3d3d;
    --padlet-5: #9ab9aa;
  }

  .custom-scrollbar {
    overflow: auto;
    height: 100%;
  }

  /* Scrollbar Container */
  .custom-scrollbar::-webkit-scrollbar {
    width: 15px;
    height: 8px;
    background-color: var(--padlet-1);
    border-radius: 10px;
  }

  /* Scroll Thumb */
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--padlet-4);
    border-radius: 10px;
  }

  /* Scroll Track */
  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: var(--padlet-1);
    border-radius: 10px;
  }

  /* Scrollbar Container Focus */
  .scrollbar-focused::-webkit-scrollbar-track {
    background-color: var(--padlet-3);
  }

  /* Body */
  body {
    background-color: var(--padlet-1);
  }

  /* Canvas */
  #canvas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--padlet-1);
    width: 100vw;
    height: 100vh;
  }

  /* Navbar */
  #navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--padlet-3);
    width: 100%;
    height: 7vh;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 0px 5px 0px var(--padlet-4);
    z-index: 2;
  }

  /* Left Div */
  #leftdiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fffaec;
    width: 10vw;
    height: 100%;
    font-size: 30px;
    text-decoration: none;
  }

  /* Middle Div */
  #middlediv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--padlet-2);
    width: 40vw;
    height: 100%;
  }

  /* Categories Div */
  #categorydiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;
  }

  #categorydiv:hover {
    cursor: pointer;
  }

  #category {
    height: 35%;
  }

  /* Magnifying Div */
  #magnifyingdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;
  }

  #magnifying {
    height: 60%;
  }

  #magnifying:hover {
    cursor: pointer;
  }

  /* Search Div */
  #searchdiv {
    display: flex;
    align-items: center;
    height: 100%;
    width: 80%;
  }

  #searchbox {
    display: flex;
    padding-left: 5%;
    width: 32vw;
    height: 5vh;
    font-size: 20px;
    border-radius: 30px;
    background-color: var(--padlet-1);
    color: var(--padlet-4);
    border: none;
  }

  #searchbox:focus {
    outline: none;
    box-shadow: none;
  }

  /* Right Div */
  #rightdiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 12vw;
    height: 100%;
  }

  #notidiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 100%;
    margin-left: 18px;
  }

  #noti {
    height: 60%;
  }

  #profilediv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 100%;
  }

  #profileframe {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: var(--padlet-3);
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid white;
  }

  #profile-icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* Toggle Button */
  #modediv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 100%;
  }

  #toggle-container {
    width: 50px;
    height: 32px;
    background: var(--padlet-2);
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 3px;
    cursor: pointer;
    position: relative;
    transition: background 0.3s;
  }

  #toggle-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23px;
    height: 23px;
    background: var(--padlet-4);
    border-radius: 50%;
    position: absolute;
    left: 3px;
    transition: left 0.3s, background 0.3s;
  }

  .dark-mode #toggle-container {
    background: var(--padlet-4);
  }

  .dark-mode #toggle-circle {
    left: 24px;
    background: var(--padlet-2);
  }

  #modeicon {
    height: 80%;
  }

  /* Filter Box */
  #filterbox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--padlet-3);
    width: 100%;
    height: 50px;
    z-index: 0;
    overflow-x: auto;
    overflow-y: hidden;
    transform: translateY(-100%);
    transition: transform 0.5s ease;
    box-shadow: 0px 0px 5px 0px var(--padlet-4);
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    padding: 5px;
    max-width: 100vw;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    visibility: hidden;
  }

  .filter {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    white-space: nowrap;
    flex-shrink: 0;
    padding: 8px 12px;
    margin: 0 5px;
    scroll-snap-align: start;
    color: white;
    border: none;
  }

  .filter:hover {
    cursor: pointer;
  }

  #filterbox::-webkit-scrollbar {
    height: 8px;
    background-color: transparent;
  }

  #filterbox::-webkit-scrollbar-thumb {
    background-color: #3d3d3d;
    border-radius: 10px;
    width: 20px;
  }

  #filterbox::-webkit-scrollbar-track {
    background-color: var(--padlet-3);
    border-radius: 10px;
  }

  #filterbox button {
    margin: 0 10px;
    flex-shrink: 0;
    scroll-snap-align: start;
  }

  /* Edit Profile Box */
  #editbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--padlet-4);
    background-color: var(--padlet-2);
    width: 43vw;
    height: 85vh;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 2.5vh;
  }

  #edittitle {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 3vh;
  }

  #formbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 70%;
    margin-bottom: 5vh;
  }

  .inputGroup {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 15px;
  }

  input[type="file"]::-webkit-file-upload-button {
    display: none;
  }

  label {
    font-weight: 500;
    margin-bottom: 5px;
  }

  textarea,
  input,
  select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: var(--padlet-4);
    background-color: var(--padlet-1);
    border: 2px solid #9ab9aa;
    border-radius: 8px;
  }

  textarea:focus,
  input:focus,
  select:focus {
    outline: none;
    color: var(--padlet-2);
    border-color: var(--padlet-3);
    background-color: var(--padlet-3);
  }

  .updateBtn {
    background-color: #578e7e;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
  }

  .updateBtn:hover {
    background-color: var(--padlet-4);
  }

  .error-text {
    color: red;
    font-size: 0.9em;
    display: block;
    margin-top: 5px;
  }

  .hidden {
    display: none;
  }
        
}






















/* Portrait */
@media only screen and (orientation: portrait) { 

  /* Universal */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  /* Padlet */
  :root {
    --padlet-1: #f5ecd5;
    --padlet-2: #fffaec;
    --padlet-3: #578e7e;
    --padlet-4: #3d3d3d;
    --padlet-5: #9ab9aa;
  }

  .custom-scrollbar {
    overflow: auto;
    height: 100%;
  }

  /* Scrollbar Container */
  .custom-scrollbar::-webkit-scrollbar {
    width: 15px;
    height: 8px;
    background-color: var(--padlet-1);
    border-radius: 10px;
  }

  /* Scroll Thumb */
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--padlet-4);
    border-radius: 10px;
  }

  /* Scroll Track */
  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: var(--padlet-1);
    border-radius: 10px;
  }

  /* Scrollbar Container Focus */
  .scrollbar-focused::-webkit-scrollbar-track {
    background-color: var(--padlet-3);
  }

  /* Body */
  body {
    background-color: var(--padlet-1);
  }

  /* Canvas */
  #canvas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--padlet-1);
    width: 100vw;
    height: 100vh;
  }

  /* Navbar */
  #navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--padlet-3);
    width: 100%;
    height: 7vh;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 0px 5px 0px var(--padlet-4);
    z-index: 2;
  }

  /* Left Div */
  #leftdiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fffaec;
    width: 20vw;
    height: 100%;
    font-size: 30px;
    text-decoration: none;
  }

  /* Middle Div */
  #middlediv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--padlet-2);
    width: 40vw;
    height: 100%;
  }

  /* Categories Div */
  #categorydiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;
  }

  #categorydiv:hover {
    cursor: pointer;
  }

  #category {
    height: 35%;
  }

  /* Magnifying Div */
  #magnifyingdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;
  }

  #magnifying {
    height: 60%;
  }

  #magnifying:hover {
    cursor: pointer;
  }

  /* Search Div */
  #searchdiv {
    display: flex;
    align-items: center;
    height: 100%;
    width: 80%;
  }

  #searchbox {
    display: flex;
    padding-left: 5%;
    width: 32vw;
    height: 5vh;
    font-size: 20px;
    border-radius: 30px;
    background-color: var(--padlet-1);
    color: var(--padlet-4);
    border: none;
  }

  #searchbox:focus {
    outline: none;
    box-shadow: none;
  }

  /* Right Div */
  #rightdiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 25vw;
    height: 100%;
  }

  #notidiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 100%;
    margin-left: 18px;
  }

  #noti {
    height: 60%;
  }

  #profilediv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 100%;
  }

  #profileframe {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: var(--padlet-3);
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid white;
  }

  #profile-icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* Toggle Button */
  #modediv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 100%;
  }

  #toggle-container {
    width: 50px;
    height: 32px;
    background: var(--padlet-2);
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 3px;
    cursor: pointer;
    position: relative;
    transition: background 0.3s;
  }

  #toggle-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23px;
    height: 23px;
    background: var(--padlet-4);
    border-radius: 50%;
    position: absolute;
    left: 3px;
    transition: left 0.3s, background 0.3s;
  }

  .dark-mode #toggle-container {
    background: var(--padlet-4);
  }

  .dark-mode #toggle-circle {
    left: 24px;
    background: var(--padlet-2);
  }

  #modeicon {
    height: 80%;
  }

  /* Filter Box */
  #filterbox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--padlet-3);
    width: 100%;
    height: 50px;
    z-index: 0;
    overflow-x: auto;
    overflow-y: hidden;
    transform: translateY(-100%);
    transition: transform 0.5s ease;
    box-shadow: 0px 0px 5px 0px var(--padlet-4);
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    padding: 5px;
    max-width: 100vw;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    visibility: hidden;
  }

  .filter {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    white-space: nowrap;
    flex-shrink: 0;
    padding: 8px 12px;
    margin: 0 5px;
    scroll-snap-align: start;
    color: white;
    border: none;
  }

  .filter:hover {
    cursor: pointer;
  }

  #filterbox::-webkit-scrollbar {
    height: 8px;
    background-color: transparent;
  }

  #filterbox::-webkit-scrollbar-thumb {
    background-color: #3d3d3d;
    border-radius: 10px;
    width: 20px;
  }

  #filterbox::-webkit-scrollbar-track {
    background-color: var(--padlet-3);
    border-radius: 10px;
  }

  #filterbox button {
    margin: 0 10px;
    flex-shrink: 0;
    scroll-snap-align: start;
  }

  /* Edit Profile Box */
  #editbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--padlet-4);
    background-color: var(--padlet-2);
    width: 85vw;
    height: 85vh;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 2.5vh;
  }

  #edittitle {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 3vh;
  }

  #formbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 70%;
    margin-bottom: 5vh;
  }

  .inputGroup {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 15px;
  }

  input[type="file"]::-webkit-file-upload-button {
    display: none;
  }

  label {
    font-weight: 500;
    margin-bottom: 5px;
  }

  textarea,
  input,
  select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: var(--padlet-4);
    background-color: var(--padlet-1);
    border: 2px solid #9ab9aa;
    border-radius: 8px;
  }

  textarea:focus,
  input:focus,
  select:focus {
    outline: none;
    color: var(--padlet-2);
    border-color: var(--padlet-3);
    background-color: var(--padlet-3);
  }

  .updateBtn {
    background-color: #578e7e;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
  }

  .updateBtn:hover {
    background-color: var(--padlet-4);
  }

  .error-text {
    color: red;
    font-size: 0.9em;
    display: block;
    margin-top: 5px;
  }

  .hidden {
    display: none;
  }

}
